
{% extends 'web/base_main.html' %}


{% block js %}
{{ super() }}

  <script>
window.onload = function ()
{
var obj=null;
var As=document.getElementById('nav').getElementsByTagName('a');
obj = As[0];
for(i=1;i<As.length;i++){if(window.location.href.indexOf(As[i].href)>=0)
obj=As[i];}
obj.id='selected'
}

</script> 
  <script type="text/javascript">

$(document).ready(function(e) {			
	t = $('.guanzhu').offset().top;
	mh = $('.infosbox').height();
	fh = $('.guanzhu').height();
	$(window).scroll(function(e){
		s = $(document).scrollTop();	
		if(s > t - 10){
			$('.guanzhu').css('position','fixed');
	         $('.guanzhu').css('background','fff');
			if(s + fh > mh){
				$('.guanzhu').css('top',mh-s-fh+'px');	
			}				
		}else{
			$('.guanzhu').css('position','');
		}
	})
});

</script>
 {% endblock %}


  {% block art %}
  {{ super() }}

  <div class="infosbox">
    <div class="newsview">
      <h3 class="news_title">{{ art_info.title }}</h3>
      <div class="bloginfo">
        <ul>
          <li class="author">作者：<a href="/">py1ren</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">时间：2018-5-13</li>
          <li class="view">4567人已阅读</li>
        </ul>
      </div>
      <div class="tags"><a href="/" target="_blank">{{ art_info.tp.t_name }}</a></div>
      <div class="news_about">个人世界</div>
      <div class="news_con"> {{ art_info.content }} <br>
        <br>

        <img alt="" src="/static/web/images/bi01.jpg"><br>

        <img alt="" src="/static/web/images/bi06.jpg"><br>
        <br>

         </div>
    </div>
    <div class="share">
      <p class="diggit"><a href="{{ url_for('web.info', id=art_info.id) }}">很赞哦! <p>{{ art_info.nums }}</p>  </a></p>
    </div>
    <div class="nextinfo">
      <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
      <p>下一篇：<a href="/news/life/">返回列表</a></p>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
      <ul>
        <div class="gbko"> hahds </div>
      </ul>
    </div>
  </div>

{% endblock %}
